# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# config files
cookies.json
data/blacklisted-ads.json